h1.masthead-brand {
	color: rgba(51,51,51,0.75) !important;
	font-weight: bold;
}

/*
#de-tutorial {
    -moz-transform: scale(0.9, 0.9); 
    -webkit-transform: scale(0.9, 0.9); 
    -o-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}
*/

#de-container {
    -moz-transform: scale(0.75, 0.75); 
    -webkit-transform: scale(0.75, 0.75); 
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
	display: block;
	padding: 20px;
}