h1.masthead-brand {
	color: rgba(51,51,51,0.75) !important;
	font-weight: bold;
}

body, html {
  overflow: hidden;
  height: 100%;
}

.container, .col-md-8, #de-container{
  height:100%;
  padding: 0;
}

.row {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

/*
#de-tutorial {
    -moz-transform: scale(0.9, 0.9); 
    -webkit-transform: scale(0.9, 0.9); 
    -o-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}
*/

#de-container {
	display: block;
	height: 100%;
}